div{
    height: 300px;
    width: 600px;
    background: wheat;
    transition: 1s ease-in-out;
}
img{
    padding-left: 100px;
padding-top: 80px;
    transition: 1s ease-in-out;
}
img:hover{
transform: rotate(30deg);
transform: scale(1.25);
transform: skew(20deg,5deg);
}